div#notebook p, div#notebook{
    font-size: 190%;
    line-height: 125%;
}

.rendered_html pre, .rendered_html table{
    font-size:130%;
    line-height: 125%;
}
.CodeMirror, .CodeMirror pre, .CodeMirror-dialog, .CodeMirror-dialog .CodeMirror-search-field, .terminal-app .terminal {
    font-size: 130%;
    line-height: 125%;
}
